@import 'color.scss';

.bar {
    position: relative;
    border-bottom: 2px solid #fff;
    background: $normal_bgcolor;
}


.bar:last-of-type {
    border-bottom: 1px solid $last_poster_border-bottom;
}

.title {
    display: block;
    line-height: 2em;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
}

// titleinfo
.titleMeta {
    font-size: 12px;
    opacity: .6;
}

.meta{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

// 时间相关

.tomorrow {
    opacity: .5;
}

.theDayAfterTomorrow {
    opacity: .25;
}