.removeSkin{
  position: absolute;
  top: 10px;
  border-radius: 20px;
  color: #e36b7f;
  background: #fff;
  left: 10px;
  border: 1px solid #e77e8f;
}
.skinOn{
  color: #e4687c;
  background: #fdebea;
  border: 1px solid #e46378;
}