@import "color";

.clamp {
    .meta {
        .tag {
            flex: 1;
        }
    }
}

.cushion {
  background: $clamp_open_bgcolor;
  color: $clamp_open_color;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}

.inClamp{
    border-left: 10px solid $clamp_open_bgcolor;
    border-right: 10px solid $clamp_open_bgcolor;
    border-bottom: none;
}

.clamp {
    background: $clamp_bgcolor;
    color: $clamp_color;

    .cell {
        color: $clamp_color;
    }
    &.clamp-open {
        background: $clamp_open_bgcolor;
        color: $clamp_open_color;
        border-bottom: none;
    }
}