$normal_color: #E4555B;
$normal_bgcolor: #FAFAFA;
$new_color: #dc4c65;
$new_bgcolor: #fdebea;
$raw_color: #9cb599;
$raw_bgcolor: #f0f4ee;
$clamp_color: #E1B58E;
$clamp_bgcolor: #fffaf1;
$last_poster_border-bottom: #c9bccc;