$normal_color: #E4555B;
$normal_bgcolor: #FAFAFA;
$new_color: #dc4c65;
$new_bgcolor: #fdebea;
$raw_color: #9cb599;
$raw_bgcolor: #f0f4ee;
$clamp_color: #d8a67a;
$clamp_bgcolor: #fffaf1;
$clamp_open_color: #ed8b43;
$clamp_open_bgcolor: #fff0d9;
$normal_meta: #CE5C61;
$raw_meta: #acba8c;
$new_meta: #dc4c65;
$last_poster_border-bottom: #c9bccc;