$filter_border_color: #ffb9b9;
$filter_normal_color: #ea8186;
$filter_active_color: #e7484f;
$filter_active_bgcolor: #fdf0ea;

.filter {
  display: flex;
  border: 1px solid $filter_border_color;
  border-right: none;
  color: $filter_normal_color;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  flex-wrap: wrap;
  margin: 5px auto;
  label{
    margin: 2px 0;
  }
  .itemActived{
    background: $filter_active_bgcolor;
    color: $filter_active_color;
    font-weight: bold;
  }
  .mainItem{
    width: 100%;
    border-bottom:1px solid $filter_border_color;
    border-right: 1px solid $filter_border_color;
  }
  .item{
    width: 25%;
    box-sizing: border-box;
    border-right: 1px solid $filter_border_color;
  }
  // sec-line
  .No,
  .Variety,
  .GroupVariety,
  .Stage{
    border-bottom: 1px solid $filter_border_color;
  }
  // third-line
  .Live,
  .Album,
  .Radio,
  .Ceremony{
  }
}


.filter input[type='radio'] {
  // outline: none;
  // margin: -2px 5px 1px 20px;
  // width: 14px;
  // height: 14px;
  // vertical-align: middle;
  // font-family: PingFangSC-Regular;
  // color: rgba(56, 71, 68, 1);
  display: none;
  // -webkit-appearance: none;
  // border: 1px solid #ddd;
  // display: inline-block;
  // border-radius: 50%;
}

// .filter input[type='radio']:checked:before {
  // content: '';
  // display: inline-block;
  // width: 10px;
  // height: 10px;
  // border-radius: 50%;
  // background: #e65357;
  // position: absolute;
  // top: 1px;
  // left: 1px;
// }

// .filter input[type='radio']:checked {
  // display: inline-block;
  // border: 1px solid #e65357;
  // border-radius: 50%;
  // position: relative;
// }