
@import "color";

.gold {
  position: relative;
  border-bottom: 2px solid #fff;
}

.tomorrow{
  opacity: .5;
}
.theDayAfterTomorrow{
  opacity: .25;
}

  .clamp{
    
  }
  .clamp:last-of-type,.gold:last-of-type{
    border-bottom: 1px solid $last_poster_border-bottom;
  }

  .cushion{
    background: $clamp_bgcolor;
    color: #E9A76D;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
  }
  
  .clamp{
    background: $clamp_bgcolor;
    color: $clamp_color;
    .cell{
      color: $clamp_color;
    }
  }

  .gold{
    background: $normal_bgcolor;
  }
  .link,.meta,.part,.ep,.cut{
    color: $normal_color;
  }

  .new{
    color: $new_color;
    background: $new_bgcolor;
    .cell{
      color: $new_color;
      background: $new_bgcolor;
    }
  }
  .raw{
    background:$raw_bgcolor;
    color: $raw_color;
    .cell{
      background:$raw_bgcolor;
      color: $raw_color;
      .part, .ep, .cut{
        background:$raw_bgcolor;
        color: $raw_color;
      }
    }
  }
// }

// .suki{
//   $normal_color: #eac254;
//   $normal_bgcolor: #5A3370;
//   $new_color: #66c643;
//   $new_bgcolor: #D52F5A;
//   $raw_color: #6e0a0a;
//   $raw_bgcolor: #2d6c5d;
//   $last_poster_border-bottom: #370505;

//   .gold:last-of-type{
//     border-bottom: 1px solid $last_poster_border-bottom;
//   }

//   .gold{
//     background: $normal_bgcolor;
//   }
//   .link,.meta,.part,.ep,.cut{
//     color: $normal_color;
//   }

//   .new{
//     color: $new_color;
//     background: $new_bgcolor;
//     .cell{
//       color: $new_color;
//       background: $new_bgcolor;
//     }
//   }
//   .raw{
//     background:$raw_bgcolor;
//     color: $raw_color;
//     .cell{
//       background:$raw_bgcolor;
//       color: $raw_color;
//       .part, .ep, .cut{
//         background:$raw_bgcolor;
//         color: $raw_color;
//       }
//     }
//   }
// }

