
.goldedit{
    margin-bottom: 0.5em;
    color: #E4555B;
    background: #FAFAFA;
    border-bottom: 1px solid #c9bccc;
    position: relative;
    // width: 100%;
    .name,.url{
      width: 90%;
    }
    .taijiBtn{
      background: none;
    //   border:none;
    }
    .tagWrap{
        background: #181c62;
        color: #ffc156;
        display: flex;
        flex-wrap: wrap;
        .curTag{
            width: 100%;
        }
        .tag{
            min-width: 200px;
            max-width: 100%;
            border-right: 1px dashed;
            border-left: 1px dashed;
            flex: 0.5;
        }
    }
    .meta{
      display: flex;
      .up{
        flex:0.9;
        min-width: 60px;
        max-width: 100%;
        background: #e4b328;
        color: #d14343;
      }
      .from{
        flex: 1;
        min-width: 60px;
        max-width: 100%;
        background: #31592d;
        color: #09e5f6;
      }
    }
  }
  
  .clamp{
    .title{
      // display: flex;
      height: 2em;
      line-height: 2em;
      font-size: 1.3em;
      font-weight: bold;
      // text-align: center;
      // text-decoration: none;
    }
    .meta{
      .tag{
        flex: 1;
      }
    }
  }
  
  
  
  .link{
    display: flex;
    line-height: 2em;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
  }
  .link:hover{
    cursor: pointer;
  }
  
  .meta{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .name,.title{
    flex: 2;
    padding: 0 5px;
  }
  .tag{
    min-width: 60px;
    flex: 0.5;
  }
  .part,.ep,.cut{
    font-size: 12px;
  }
  .members{
    min-width: 290px;
    flex:1;
  }
  .from{
    flex: 1;
    min-width: 200px;
  }
  .up{
    flex:0.9;
  }
  