@import "color";

.introduction {
    .new {
        color: $new_color;
        background: $new_bgcolor;
    }

    .raw {
        background: $raw_bgcolor;
        color: $raw_color;
    }

    .clampTip{
        background: $clamp_bgcolor;
        color: $clamp_color;
    }
}