.mine{
  max-width: 700px;
  margin: 0 auto;
}
.rose{
  .date{
    color: #a58a78;
    background: #f5eee887;
  }
}
// .suki{
//   .date{
//     color: #598f9e;
//     background: #365962;
//   }
// }
.date{
  font-size: 12px;
  width: 30%;
  margin: .7em auto 1em;
}
.foldBtn{
  width: 90%;
  height: 20px;
  margin: 0 auto;
  display: block;
  border-bottom: 3px dashed #fcfffd;
  color: #d1b8a9;
  line-height: 20px;
  box-shadow: inset 0px 1px 2px #5c6a5745;
  font-size: 12px;
  background: rgba(241, 229, 221, 0.64);
}
.unfold{
  opacity: 0.5;
  border: none;
}