@import "color";



.molecule {
  margin-bottom: 0.5em;
  color: $molecule_color;
  background: $molecule_bgColor;
  border-bottom: 1px solid #c9bccc;
  position: relative;

  .url{
    width: 95%;
  }
  .name{
    width: 80%;
  }
  
  .spyGo{
    width: 95%;
    background: $spy_btn_bgcolor;
    color: $molecule_bgColor;
    border: none;
    border-radius: 16px;
  }

  .date{
    color: $molecule_color;
    background: $molecule_bgColor;
  }

  .index {
    width: 3em;
  }

  .proConfig{
    div{
      margin: 5px 0;
    }
  }

  .tagWrap {
    background: #181c62;
    color: #ffc156;
    display: flex;
    flex-wrap: wrap;

    .curTag {
      width: 100%;
    }

    .tag {
      min-width: 200px;
      max-width: 100%;
      border-right: 1px dashed;
      border-left: 1px dashed;
      flex: 0.5;
    }
  }

  .meta {
    display: flex;

    .up {
      flex: 0.9;
      min-width: 60px;
      max-width: 100%;
      // background: #e4b328;
      // color: #d14343;
    }

    .from {
      flex: 1;
      min-width: 60px;
      max-width: 100%;
      // background: #31592d;
      // color: #09e5f6;
    }
  }
}
