@import "color";

.elevator {
  position: absolute;
  right: -50px;
  top: 0px;
  width: 26px;
  height: 38px;
  div{
    background: #fdebea;
  }
  div:hover{
    background: #ffcece;
    color: #1abeff;
  }
  div.unuseable{
    background: #f5f5f5;
    color: #e4e1e1;
  }
}

.poster {
  .changed{
    background: #7eff3066;
  }
  // .link {
  //   color: $normal_color;
  // }

  // .link:hover {
  //   cursor: pointer;
  // }

  // .meta{
  //   color: $normal_meta;
  // }


  // &.noShellPoster{
  //   .title{
  //     font-size: 1em;
  //   }
  // }
  &.new{
    color: $new_color;
    background: $new_bgcolor;
    .meta{
      color: $new_meta;
    }
  }
  &.raw{
    background: $raw_bgcolor;
    .meta{
      color: $raw_meta;
    }
    .link{
      color: $raw_color;
    }
  }
}

// .meta {
//   .tag{
//       min-width: 4em;
//       flex: .5;
//       @media screen and (max-width:300px){
//         flex: 1;
//       }
//       padding:0 3px;
//   }
//   .from{
//       min-width: 7em;
//       flex: 1;
//   }
//   .members {
//       min-width: 13em;
//       flex: 1;
//   }
// }