@import "filter";
@import "introduction";
// @import "button";

@import "bar";
@import "poster";
@import "molecule";
@import "clamp";

@import "shovel";
@import "book";
@import "plate";


@import "dashboard";
@import "popout";
@import "popoutInput";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

html{
  background: #fcfffd;
  // color: rgb(243, 211, 213);

  #app {
    color: #E4555B;
  }
}

header{
  font-size: 12px;
  margin-top: 12px;
}

footer{
  margin-top: 30px;
  font-size: 12px;
  // color: #e6afb1;
}

.logo{
  margin:25px auto 15px;
}



