@import "filter";
// @import "button";
@import "gold";
@import "goldEdit";
@import "shovel";
@import "mine";
@import "plate";


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

html{
  background: #fcfffd;
  // color: rgb(243, 211, 213);

  #app {
    color: #E4555B;
  }
}

// html.suki{
//   background: hsl(192, 28%, 21%);
//   // color: #942A32;

//   #app {
//     color: #639AA9;
//   }
//   // header {
//   //   color: #e6afb1;
//   // }
// }



header{
  font-size: 12px;
  margin-top: 12px;
}

footer{
  margin-top: 30px;
  font-size: 12px;
  // color: #e6afb1;
}

.logo{
  margin:25px auto 15px;
}



